.Navbar{
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: 60px;
background: rgb(15, 15, 15);
margin: 0px;
overflow: hidden;
display: flex;
align-items: center;
position: sticky;
    top: 0;
    z-index: 999;


.container{
    display: flex;
    align-items: center;
    
}

.links{
  display: flex;
  align-items: center;

  .notify{
img {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }
  }
   
    
    span{
        margin-right: 30px;
        font-weight: lighter;
        color: white;
    }

    .signIn{
        background: black;
        color: white;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        width: 90px;
        height: 40px;
        font-weight: bolder;

        &:hover{
            background: white;
            color: black;
            transition: 0.6s;  
        }
    }
}

    .logo{
        width: 87px;
        height: 40px;
        margin-right: 890px;
        border: none;
        border-radius: 75px;
        overflow: hidden;
        margin-left: 32px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }
}