.dashboard{
    margin-top: 20px;
      margin-left: 220px;
  .container{
  
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 20px;

    .singleContainer{
        width: 570px;
        height: 240px;
        background: #393838;
        border-radius: 17px;

        span{
          margin-left: 10px;
        }

        input{
          border: none;
          border-radius: 24px;
          height: 32px;
          margin-left: 10px;
          width: 200px;
          padding: 2px 8px;
        }
    }

  
  }

  h1{
    margin-left: 10px;
    margin-bottom: 2px;
  }

  h2{
    margin-left: 10px;
    margin-top: 30px;
  }

  .listContainer{
    
        width: 570px;
       
        background: #393838;
        border-radius: 17px;
       
                span {
                    margin-left: 10px;
                  }
                
                  input {
                    border: none;
                    border-radius: 24px;
                    height: 32px;
                    margin-left: 10px;
                    width: 200px;
                    padding: 2px 8px;
                  }
  }
        .monthInfo {
          width: 80px;
          height: 35px;
          margin-top: 8px;
          margin-left: 8px;
          border-radius: 7px;
          border: none;
          cursor: pointer;

          &:hover{
            background: black;
            color: white;
            transition: 0.7s;
          }
        }
}