.blogs{
    color: white;
    margin: 40px 80px;

   .head{
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h1{
        margin-right: 10px;
    }

    .sortBtn{
        width: 120px;
        height: 40px;
        border: 2px solid white;
        background: black;
        color: white;
        border-radius: 7px;
        font-weight: bolder;
    }
   }

   .container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
   }
   
.dropdown-menu{
    position: absolute;
    top: 110px;
    left: 280px;
    width: 140px;
    background: #242424;
    padding: 10px;
    border-radius: 14px;
   
    z-index: 300;

    .menu-item{
        margin-bottom: 10px;
        width: 100%;

        &:hover{
            color: rgb(220, 204, 22);
        }
    }

}
}